@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  border: 1px solid black;
  width: 50vw;
} */

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
}
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

/* div {
  border: 2px dashed black;
  background-color: white;

  padding: 2rem;
}

.display {
  display: block;
  margin: 0 auto;
} */

html {
  background-color: #00539f;
}

body {
  border: 5px solid black;
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
}

h1 {
  /* border: 1px dashed black;
  background-color: white; */

  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 2px black;
}

img {
  /* border: 1px dashed black;
  background-color: white; */

  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* p {
  border: 1px dashed black;
  background-color: white;
} */
